* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;

}





        /* GRID 1. METHOD: */


/* .grid-container {
    width: 100%;
    height: 85%;
    background-color: aquamarine;
    color: black;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); */
   
    /* grid-template: 
    "item1 item1 item1 item1" 
    "item2 item3 item4 item5"
    "item6 item7 item8 item9"
    "item10 item11 item12 item13"
    "item14 item15 item16 item17"
    "item18 item18 item19 item20"
    ;

    gap: 1px 1px;

}

.grid-item {
    border: 1px solid;
}

#grid-item1 {
    grid-area: item1;

}
#grid-item2 {
    grid-area: item2;

}
#grid-item3 {
    grid-area: item3;
}
#grid-item4 {
    grid-area: item4;
}
#grid-item5 {
    grid-area: item5;
}
#grid-item6 {
    grid-area: item6;
}
#grid-item7 {
    grid-area: item7;
}
#grid-item8 {
    grid-area: item8;
}
#grid-item9 {
    grid-area: item9;
}
#grid-item10 {
    grid-area: item10;
}
#grid-item11 {
    grid-area: item11;
}
#grid-item12 {
    grid-area: item12;
}
#grid-item13 {
    grid-area: item13;
}
#grid-item14 {
    grid-area: item14;
}
#grid-item15 {
    grid-area: item15;
}
#grid-item16 {
    grid-area: item16;
}
#grid-item17 {
    grid-area: item17;
}
#grid-item18 {
    grid-area: item18;
}
#grid-item19 {
    grid-area: item19;
}
#grid-item20 {
    grid-area: item20;
} */


.main {
    width: 50vw;
    height: 80vh;
    background-color: black;
    margin: 10vh auto;
    color: white;

}


.header {
    height: 10%;
    width: 100%;
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: space-between;

}

.header_left {
    display: flex;
    justify-content: space-between;
    width: 28%;
    background-color: aqua;
}

.header_right {
    display: flex;
    justify-content: space-around;
    width: 18%;
    background-color: brown;
}


    /* GRID 2. METHOD: */



.grid-container {
    width: 100%;
    height: 85%;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(6, 1fr);
}

.grid-item {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;

}

#output {
    grid-column: 1/5;
    border-radius: 0px;
    
}

#grid-item18 {
    grid-column: 1/3;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;

}

#output1 {
    height: 40%;
    width: 50%;
    text-align: end;
    background-color: white;
    color: black;
}

#output2 {
    margin-top: 2px;
    height: 40%;
    width: 50%;
    text-align: end;
    background-color: white;
    color: black;

}